body {
	background-image: url(https://computersplace.net/images/ant-man-artwork-2.jpg);
	background-size: cover;
}
#a {
	background-image: url(https://images.unsplash.com/photo-1530818718778-8b666f576020?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=783&q=80);

	width: 50%;
	height:50%;
	color: white;
	margin-top: 20px;
	font-family: 'Schoolbell', cursive;

}
hr {
	color: white;
}